header {
  min-height: 100vh;
  position: relative;
  padding: 1.6rem 0;

  .right-background {
    background: linear-gradient(
        90deg,
        $color-dark-1 15%,
        $color-dark-transparent-2 100%
      ),
      url("../../images/hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 35%;
    z-index: -1;

    @include respond(tab-port) {
      left: 15%;
    }

    @include respond(phone) {
      left: 5%;
      background-position: center;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    background-color: $color-dark-1;
    margin: $section-margin-small;
    color: $color-white;
    min-height: 5rem;
    padding: 0.7rem 0.7rem 0.7rem 3rem;
    border: 1px solid $color-primary-dark;
    border-radius: 4rem;

    @include respond(tab-port) {
      padding-right: 3rem;
    }

    &__logo {
      text-decoration: none;
      color: $color-grey-light;
      font-family: "Exo", sans-serif;
      font-weight: 600;
      font-size: 2.6rem;
      color: $color-primary-dark;
      transition: color 0.25s linear;

      &:hover {
        color: $color-primary-light;
      }
    }

    &__list {
      display: flex;
      align-self: stretch;
      list-style: none;
      gap: 5rem;
      margin-left: 8rem;

      @include respond(tab-port) {
        display: none;
      }

      &--link {
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        letter-spacing: 1px;
        position: relative;
        height: 100%;

        &:link,
        &:visited {
          text-decoration: none;
          color: $color-grey-light;
        }

        &::before {
          content: "";
          width: 0;
          height: 0.5rem;
          position: absolute;
          background-color: $color-primary;
          left: 50%;
          bottom: -0.7rem;
          transform: translateX(-50%);
          border-radius: 5rem;
          transition: width 0.25s linear;
        }

        &:hover::before {
          width: 80%;
        }
      }

      @include respond(tab-land) {
        margin-left: 6rem;
      }
    }

    &__contact-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 800;
      margin-left: auto;
      background-color: $color-primary;
      height: 5rem;
      width: 18rem;
      border-radius: 4rem;
      letter-spacing: 1px;
      transition: background-color 0.25s linear;

      @include respond(tab-port) {
        display: none;
      }

      &:link,
      &:visited {
        color: $color-grey-light;
        text-decoration: none;
      }

      &:hover,
      &:active {
        background-color: $color-primary-dark;
      }
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: $section-margin-big;
    margin-top: 10rem;

    @include respond(tab-port) {
      width: 70%;
      margin: $section-margin-medium;
      padding: 0;
      margin-top: 10rem;
    }

    @include respond(phone) {
      margin: $section-margin-small;
      margin-top: 10rem;
    }

    &__profession {
      font-size: 3.2rem;
      color: $color-grey-dark;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 1.3px;
    }

    &__name {
      display: flex;
      flex-direction: column;
      font-family: "Exo", sans-serif;
      font-size: $main-heading-large;
      font-weight: 500;
      color: $color-grey-light;
      margin-bottom: 3.6rem;

      span:nth-child(2) {
        margin-top: -5rem;
      }

      @include respond(phone) {
        font-size: $main-heading-medium;
      }
    }

    &__short {
      color: $color-grey-dark;
      border-left: 1px solid $color-grey-dark;
      padding: 0.6em 2em;
      font-size: 1.8rem;
      line-height: 1.4;
      font-family: "Roboto", sans-serif;
      letter-spacing: 1.1px;
      width: 30%;

      @include respond(tab-land) {
        width: 50%;
      }

      @include respond(tab-port) {
        width: 75%;
      }

      @include respond(phone) {
        width: 80%;
      }
    }

    &__download-cv {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 3.15em;
      height: 3.15em;
      border-radius: 50%;
      background-color: $color-secondary;
      top: 25%;
      left: 45%;
      color: $color-grey-light;
      font-size: 3.8rem;
      font-weight: 600;
      text-decoration: none;
      transition: all 0.35s ease-out;

      @include respond(tab-land) {
        left: 50%;
      }

      @include respond(tab-port) {
        left: 70%;
      }

      @include respond(phone) {
        left: 0;
        top: 110%;
      }

      i {
        font-size: 2.6rem;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        transition: all 0.35s ease-out;
      }

      &::before {
        width: 4em;
        height: 4em;
        background-color: $color-secondary-transparent-1;
        z-index: $tertiary-layer;
      }

      &::after {
        width: 4.8em;
        height: 4.8em;
        background-color: $color-secondary-transparent-2;
        z-index: $tertiary-layer;
      }

      &:hover {
        background-color: $color-secondary-light;
      }

      &:hover::before {
        width: 4.5em;
        height: 4.5em;
      }

      &:hover::after {
        width: 5.6em;
        height: 5.6em;
      }
    }
  }
}
