header .decorative-circle {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background-image: radial-gradient(
    closest-side,
    $color-primary-blur-1,
    $color-dark-1
  );
  position: absolute;
  top: 15%;
  z-index: $tertiary-layer;

  @include respond(tab-land) {
    top: 15%;
  }

  @include respond(tab-port) {
    display: none;
  }
}

header .decorative-lines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22rem;
  width: 5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: $secondary-layer;

  .line {
    width: 100%;
    height: 1rem;
    background-color: $color-primary-dark;
    transform: skew(0deg, 45deg);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}

#about .decorative-circle:first-of-type,
#about .decorative-circle:nth-of-type(2),
#about .decorative-circle:nth-of-type(3) {
  border-radius: 50%;
  position: absolute;
  z-index: $tertiary-layer;

  @include respond(tab-port) {
    display: none;
  }
}

#about .decorative-circle:first-of-type {
  width: 50rem;
  height: 50rem;
  background-image: radial-gradient(
    closest-side,
    $color-secondary-blur-2,
    $color-dark-1
  );
  left: 0;
  top: 30%;
}

#about .decorative-circle:nth-of-type(2) {
  width: 60rem;
  height: 60rem;
  background-image: radial-gradient(
    closest-side,
    $color-primary-blur-1,
    $color-dark-1
  );
  right: 0;
}

#about .decorative-circle:nth-of-type(3) {
  width: 50rem;
  height: 50rem;
  background-image: radial-gradient(
    closest-side,
    $color-primary-blur-1,
    $color-dark-1
  );
  top: -30%;
  left: 30%;
}
