%decorative-circle {
  border-radius: 50%;
  position: absolute;
  z-index: $tertiary-layer;
}

#header .decorative-circle {
  @extend %decorative-circle;

  width: $decorative-circle-medium;
  height: $decorative-circle-medium;
  background-image: radial-gradient(
    closest-side,
    $color-primary-blur-1,
    $color-dark-1
  );
  top: 15%;

  @include respond(tab-land) {
    top: 15%;
  }

  @include respond(tab-port) {
    display: none;
  }
}

#header .decorative-lines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22rem;
  width: 5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: $secondary-layer;

  .line {
    width: 100%;
    height: 1rem;
    background-color: $color-primary-dark;
    transform: skew(0deg, 45deg);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}

#about .decorative-circle,
#skills .decorative-circle {
  @extend %decorative-circle;
}

#about .decorative-circle:nth-of-type(1) {
  width: $decorative-circle-medium;
  height: $decorative-circle-medium;
  background-image: radial-gradient(
    closest-side,
    $color-secondary-blur-2,
    $color-dark-1
  );
  left: 0;
  top: 35%;

  @include respond(tab-land) {
    display: none;
  }
}

#about .decorative-circle:nth-of-type(2) {
  width: $decorative-circle-large;
  height: $decorative-circle-large;
  background-image: radial-gradient(
    closest-side,
    $color-primary-blur-1,
    $color-dark-1
  );
  right: 0;
  bottom: 0;

  @include respond(tab-land) {
    top: 0;
  }
}
