$color-primary: #008aff;
$color-primary-light: #3ba4ff;
$color-primary-dark: #0074d9;
$color-primary-effect: #00294c;

$color-secondary: #e36a00;
$color-secondary-dark: #c15a00;
$color-secondary-light: #ff851b;
$color-secondary-transparent-1: rgba(227, 106, 0, 0.25);
$color-secondary-transparent-2: rgba(227, 106, 0, 0.15);

$color-white: #fff;

$color-grey-light: #eee;
$color-grey-dark: #999;

$color-dark-1: #050505;
$color-dark-2: #1a1a1a95;
$color-dark-transparent-1: rgba(0, 0, 0, 0.75);
$color-dark-transparent-2: rgba(0, 0, 0, 0);

$section-margin-small: 0 6em;
$section-margin-medium: 0 8em;
$section-margin-big: 0 10em;

// Stacking context layers
$primary-layer: 2;
$secondary-layer: 1;
$tertiary-layer: -1;
