$color-primary: #008aff;
$color-primary-light: #3ba4ff;
$color-primary-dark: #0074d9;
$color-primary-blur-1: #00325e;
$color-primary-blur-2: #00294c;

$color-secondary: #e36a00;
$color-secondary-dark: #c15a00;
$color-secondary-light: #ff851b;
$color-secondary-transparent-1: rgba(227, 106, 0, 0.25);
$color-secondary-transparent-2: rgba(227, 106, 0, 0.15);
$color-secondary-blur-1: #7d4819;
$color-secondary-blur-2: #6c3300;

$color-white: #fff;

$color-grey-light: #eee;
$color-grey-dark: #999;

$color-dark-1: #050505;
$color-dark-2: #1a1a1a95;
$color-dark-transparent-1: rgba(0, 0, 0, 0.75);
$color-dark-transparent-2: rgba(0, 0, 0, 0);

$margin-small: 10rem;
$margin-medium: 14rem;
$margin-large: 18rem;

$padding-small: 10rem;
$padding-medium: 14rem;
$padding-large: 18rem;

// Stacking context layers
$primary-layer: 2;
$secondary-layer: 1;
$tertiary-layer: -1;

$main-heading-large: 12rem;
$main-heading-medium: 10rem;

$decorative-circle-large: 60rem;
$decorative-circle-medium: 50rem;
$decorative-circle-small: 40rem;
